/* Global */
:root {
  /* CSS HEX */
  --celadon: #a7d49bff;
  --nickel: #706c61ff;
  --dark-purple: #361d2eff;
  --atomic-tangerine: #f39b6dff;
  --bittersweet: #f96f5dff;
  --rgba-nickel: rgba(112, 108, 97, 1);
  --rgba-half-nickel: rgba(112, 108, 97, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  letter-spacing: 1px;
  background-color: var(--nickel);
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 3.75em;
}
h2 {
  font-size: 3.125em;
}
h3 {
  font-size: 2.25em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.75em;
}
h6 {
  font-size: 1.25em;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: var(--celadon);
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3.25em;
  }
  h2 {
    font-size: 2.75em;
  }
  h3 {
    font-size: 2.125em;
  }
  h4 {
    font-size: 1.75em;
  }
  h5 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 1.15em;
  }
}
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 2.75em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1.15em;
  }
  h6 {
    font-size: 1.125em;
  }
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  border-bottom: 1px solid var(--bittersweet);
  background-color: var(--dark-purple);
  padding: 0 0.625em;
  z-index: 1;
  position: relative;
}
.header__logo {
  max-width: 150px;
  height: auto;
  width: 100%;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
}
.header__link {
  justify-items: center;
  align-self: center;
  padding: 0 0.5em;
}
.header__link::after {
  content: "";
  border-bottom: 1px solid var(--bittersweet);
  display: block;
  opacity: 0;
  padding: 0.15em;
}
.header__link:hover::after {
  transition: all 0.2s 0.2s ease-in-out;
  opacity: 1;
}
@media only screen and (max-width: 767.98px) {
  .header__link {
    margin-bottom: 0.3125em;
  }
}

/* Mission */
.mission {
  background-image: url("/assets/images/coffee-beans-heart.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 4.75em;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.mission__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-content: center;
  background-color: var(--rgba-half-nickel);
  max-width: 50em;
  height: max-content;
  margin: auto;
  padding: 2%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
}
.mission__content h1 {
  margin: 0 0 0.5em 0;
}

/* Products */
